.mat-dialog-title {
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.mat-dialog-content {
    max-height: 280px;
    margin-bottom: 20px;
}

.show-date-list {
    padding-left: 12px;
}

.show-date-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

.username {
    padding-left: 35px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.username:hover {
    cursor: pointer;
    color: #3f51b5;
}

.group-size {
    margin-inline-end: auto;
    padding-right: 15px;
}

.nowrap {
    white-space: nowrap;
}

.deregister-user-icon {
    color: dimgray;
}

.delete-icon {
    font-size: 22px;
}

.add-show-date-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 12px;
}

.date-picker {
    width: 30%;
}

.time-picker {
    width: 25%;
}

.add-show-date-btn {
    background: #1a9f1ae3;
    color: white;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}