<div mat-dialog-title>
    <h1>Zarządzanie terminami pokazu</h1>
</div>
<mat-dialog-content>
    <ul class="show-date-list" *ngIf="showDates?.length > 0">
        <li *ngFor="let showDate of showDates" class="show-date-line">
            <div class="nowrap">
                {{ showDate?.date | date: 'mediumDate' }}, {{ showDate?.timeFrom }} - {{ showDate?.timeTo }}
            </div> 
            <div class="username">
                <a (click)="openUserDialog(showDate.user)">{{ showDate?.user?.username}}</a>
            </div>
            <div class="group-size" *ngIf="showDate.user != null">
                ({{ showDate?.user?.groupSize }})
            </div>
            <div class="nowrap">
                <button mat-icon-button *ngIf="showDate.user != null" (click)="onShowDateDeregister(showDate)">
                    <mat-icon class="deregister-user-icon">person_off</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="openUpdateShowDateDialog(showDate)">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onShowDateDelete(showDate)">
                    <mat-icon class="delete-icon">delete</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</mat-dialog-content>
<form #showDateForm="ngForm" class="add-show-date-container">
    <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Wybierz datę</mat-label>
        <input matInput 
               [matDatepicker]="picker" 
               [(ngModel)]="dateValue" 
               name="date" 
               readonly 
               required
               [min]="minDate" 
               [max]="maxDate">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="time-picker">
        <mat-label>Godzina od</mat-label>
        <input type="text"
               placeholder="09:30"
               matInput
               name="timeFrom"
               pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
               required
               [(ngModel)]="timeFrom"
               [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of timeList" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="time-picker">
        <mat-label>Godzina do</mat-label>
        <input type="text"
               placeholder="11:00"
               matInput
               name="timeTo"
               pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
               required
               [(ngModel)]="timeTo"
               [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let option of timeList" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button class="add-show-date-btn" (click)="onShowDateAdd()"
            [disabled]="showDateForm.invalid || showLoading">
        <span>Dodaj</span>
		<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</form>
<mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close>Zakończ</button>
</mat-dialog-actions>