<div class="container">
	<div class="reset-password-title">Zmiana hasła</div>
	<div class="form-container">
		<form [formGroup]="passwordFormGroup" (ngSubmit)="onResetPassword()">
			<mat-form-field appearance="fill">
				<mat-label>Nowe hasło</mat-label>
				<input matInput formControlName="newPassword" [type]="hidePassword1 ? 'password' : 'text'">
				<i class="material-icons hide-icon" matSuffix (click)="toggleHidePassword1()">
					{{ hidePassword1 ? 'visibility' : 'visibility_off' }}
				</i>
				<mat-error *ngIf="passwordFormGroup.get('newPassword')?.hasError('pattern') 
								  && !passwordFormGroup.get('newPassword')?.hasError('required')">
					Hasło powinno składać się z 8-12 znaków: liter małych, dużych i cyfr
				</mat-error>
				<mat-error *ngIf="passwordFormGroup.get('newPassword')?.hasError('required')">
					Hasło jest wymagane
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Powtórz hasło</mat-label>
				<input matInput formControlName="repeatPassword" [type]="hidePassword2 ? 'password' : 'text'">
				<i class="material-icons hide-icon" matSuffix (click)="toggleHidePassword2()">
					{{ hidePassword2 ? 'visibility' : 'visibility_off' }}
				</i>
				<mat-error *ngIf="passwordFormGroup.get('repeatPassword')?.hasError('pattern') 
								  && !passwordFormGroup.get('repeatPassword')?.hasError('required')">
					Hasło powinno składać się z 8-12 znaków: liter małych, dużych i cyfr
				</mat-error>
				<mat-error *ngIf="passwordFormGroup.get('repeatPassword')?.hasError('required')">
					Hasło jest wymagane
				</mat-error>
				<mat-error *ngIf="!passwordFormGroup.get('repeatPassword')?.hasError('required') 
								  && !checkPasswordMatch">
					Hasła nie są identyczne
				</mat-error>
			</mat-form-field>
			<button mat-flat-button color="primary" type="submit" class="reset-password-btn" 
					[disabled]="passwordFormGroup.invalid || showLoading || !checkPasswordMatch">
				<span *ngIf="showLoading" class="loading-text">Ładowanie...</span>
				<span *ngIf="!showLoading">Zmień hasło</span>
				<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
			</button>
		</form>
	</div>
</div>