<div class="container">
    <div class="event-title-container">
        <h1 class="event-title">{{ event?.title }}</h1>
        <div class="event-btns">
            <button mat-mini-fab color="primary" *ngIf="isAdmin" matTooltip="Aktualizuj wydarzenie" 
                    [matTooltipShowDelay]="300" (click)="openEditEventDialog()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="isAdmin" class="btn-margin-left" matTooltip="Usuń wydarzenie" 
                    [matTooltipShowDelay]="250" (click)="openDeleteEventWarningDialog()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <div class="info-title">Data</div>
        <div class="event-date">
            {{ event?.startDate | date: 'dd.MM.yyyy'  }} - {{ event?.endDate | date: 'dd.MM.yyyy' }}
            <div matTooltip="{{ event?.status.name }}" [matTooltipShowDelay]="250" matTooltipPosition="right" 
                 [ngStyle]="{background: event?.status.color}" class="event-status"></div>
        </div>
        <div class="info-title">Kategoria</div>
        <div class="event-category">{{ event?.category.name }}</div>
        <div class="info-title">Budynek</div>
        <div class="building">{{ event?.building }}</div>
    </div>
    <div class="info-title">Opis wydarzenia</div>
    <div class="event-desc">{{ event?.description }}</div>
    <div class="shows">
        <h2 class="shows-title">Pokazy</h2>
        <div *ngIf="!isUserLoggedIn && event?.status.id != finishedStatusId" class="user-not-logged-in">
            Zaloguj się żeby móc zapisać się na pokaz
        </div>
        <div *ngIf="shows?.length == 0" class="no-shows">Nie ma żadnych pokazów</div>
        <div *ngIf="shows?.length > 0" class="expand-btns">
            <button mat-icon-button color="primary" (click)="accordion.openAll()" 
                matTooltip="Rozwiń wszystkie" [matTooltipShowDelay]="300">
                <mat-icon>unfold_more</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="accordion.closeAll()" 
                matTooltip="Zwinąć wszystkie" [matTooltipShowDelay]="300">
                <mat-icon>unfold_less</mat-icon>
            </button>
        </div>
        <mat-accordion multi>
            <ul>
                <li *ngFor="let show of shows">
                    <mat-expansion-panel class="show-panel">
                        <mat-expansion-panel-header class="show-name">
                            <mat-panel-title>{{ show.name }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="info-title">Prowadzący</div>
                        <p>{{ show.professor }}</p>
                        <div class="info-title">Sala/Budynek</div>
                        <p>{{ show.room }} / {{ event?.building }}</p>
                        <div class="info-title">Opis/Uwagi</div>
                        <p class="show-desc">{{ show.description }}</p>
                        <div class="btns-container">
                            <button mat-stroked-button color="primary" 
                                *ngIf="isUserLoggedIn && event?.status.id != finishedStatusId" 
                                (click)="openRegisterShowDialog(show)">Zobacz wolne terminy</button>
                            <div *ngIf="isAdmin">
                                <button mat-icon-button (click)="openAddShowDateDialog(show)">
                                    <mat-icon class="add-date-btn">pending_actions</mat-icon>
                                </button>
                                <button mat-icon-button (click)="openEditShowDialog(show)">
                                    <mat-icon color="primary">edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="openDeleteShowWarningDialog(show)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </li>
            </ul>
        </mat-accordion>
        <div class="add-show-btn-container">
            <button mat-raised-button color="primary" *ngIf="isAdmin" (click)="openAddShowDialog()">
                Dodaj nowy pokaz
            </button>
        </div>
    </div>
</div>