.container {
    max-width: 55em;
    padding-bottom: 20vh;
    margin: 3em auto 0;
}

.event-title-container {
    display: flex;
    justify-content: space-between;
}

.event-title {
    color: #3f51b5;
}

.event-btns {
    display: flex;
}

.btn-margin-left {
    margin-left: 10px;
}

.info-title {
    color: #555;
    font-size: small;
}

.event-date {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: 400;
    color: #222;
}

.event-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
}

.event-category {
    padding-bottom: 1em;
    font-size: larger;
    font-weight: 400;
    color: #222;
}

.building {
    padding-bottom: 1em;
    font-size: larger;
    font-weight: 400;
    color: #222;
}

.event-desc {
    font-size: medium;
    color: #222;
    white-space: pre-line;
}

.shows {
    padding-bottom: 3em;
    font-size: larger;
    color: #222;
}


.shows-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    margin-top: 2em;
    color: #3f51b5;
}

.user-not-logged-in {
    color: #d78101;
    text-align: center;
}

.no-shows {
    text-align: center;
}

.expand-btns {
    display: flex;
    justify-content: flex-end;
}

.shows ul {
    margin-top: 3px;
    padding-left: 3em;
    list-style: none;
    counter-reset: counter-name;
}

.shows ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.shows ul li::before {
    counter-increment: counter-name;
    content: counter(counter-name);
    position: absolute;
    left: -2.5em;
    color: #3f51b5;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3f51b5;
    box-sizing: border-box;
    font-weight: 500;
}

.show-panel {
    width: 100%;
}

.show-name {
    font-size: initial;
}

.show-desc {
    white-space: pre-wrap;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.add-date-btn {
    color: forestgreen;
}

.add-show-btn-container {
    text-align: center;
}