<div mat-dialog-title>
    <h1 class="dialog-title">UWAGA!</h1>
    <h2>Napewno chcesz usunąć ten pokaz?</h2>
    <h3>Każdy uczestnik zostanie automatycznie wypisany z pokazu.</h3>
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="warn" [disabled]="showLoading" (click)="onDelete()">
        <span>Usuń</span>
		<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>