.update-show-date-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date-picker {
    width: 32%;
}

.time-picker {
    width: 32%;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}