<div mat-dialog-title>
    <h1>Zmiana terminu pokazu</h1>
</div>
<mat-dialog-content>
    <form #showDateForm="ngForm" class="update-show-date-container">
        <mat-form-field appearance="fill" class="date-picker">
            <mat-label>Wybierz datę</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dateValue" 
                   name="date" [min]="minDate" [max]="maxDate" readonly required>
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="time-picker">
            <mat-label>Godzina od</mat-label>
            <input type="text"
                   placeholder="08:30"
                   matInput
                   name="timeFrom"
                   pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
                   required
                   [(ngModel)]="timeFrom"
                   [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let option of timeList" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill" class="time-picker">
            <mat-label>Godzina do</mat-label>
            <input type="text"
                   placeholder="10:00"
                   matInput
                   name="timeTo"
                   pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
                   required
                   [(ngModel)]="timeTo"
                   [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let option of timeList" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" 
            [disabled]="showDateForm.invalid || showLoading" (click)="onSubmit()">
        <span>Zmień</span>
        <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>