.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    position: sticky;
    top: 0;
    background-color: #3f51b5;
    color: #fff;
    z-index: 10;
}

.logo {
    padding-left: 15px;
    padding-right: 30px;
    font-size: x-large;
}

.nav-btns-section {
    margin-right: auto;
    border-left: 1px solid;
}

.nav-btns {
    font-size: larger;
    font-weight: 400;
}

.login-btn {
    margin-right: 20px;
    font-size: larger;
    font-weight: 400;
}

.user-section {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.user-section:hover {
    cursor: pointer;
}

.user-avatar {
    margin-right: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.user-name {
    font-size: medium;
}

::ng-deep.mat-menu-panel {
    min-width: 220px !important;
}