<div class="navbar">
    <div class="logo">
        <span>SZWW</span>
    </div>
    <div class="nav-btns-section">
        <button mat-button class="nav-btns" [routerLink]="'/main'">
            Wydarzenia wydziałowe
        </button>
        <button mat-button class="nav-btns" [routerLink]="'/my-shows'" *ngIf="isUserLoggedIn">
            Moje pokazy
        </button>
    </div>
    <button mat-button class="login-btn" *ngIf="!isUserLoggedIn" [routerLink]="'/login'">
        <mat-icon>login</mat-icon>
        <span>Zaloguj się</span>
    </button>
    <div class="user-section" [matMenuTriggerFor]="userMenu" *ngIf="isUserLoggedIn">
        <img class="user-avatar" src="{{ getUser?.profileImageUrl }}">
        <div class="user-name">{{ getUser?.username }}</div>
        <div>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="'/my-shows'">
            <mat-icon>event</mat-icon>
            Moje pokazy
        </button>
        <button mat-menu-item (click)="openUserSettingsDialog()">
            <mat-icon>settings</mat-icon>
            Ustawienia
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Wyloguj
        </button>
    </mat-menu>
</div>