.mat-dialog-content {
    max-height: 280px;
    margin-bottom: 20px;
}

.status-list {
    padding: 0 10px;
}

.status-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

.color-picker-container {
    width: 35px;
    height: 80px;
}

.color-picker {
    position: relative;
    border: none;
    outline: none;
    width: 28px;
    height: 57px;
    cursor: pointer;
}

.status-form-field {
    width: 100%;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}