<div mat-dialog-title>
    <h1>Ustawienia statusów wydarzeń</h1>
</div>
<mat-dialog-content>
    <ul class="status-list">
        <li *ngFor="let status of statuses" class="status-line">
            <div class="color-picker-container">
                <input class="color-picker" 
                [(colorPicker)]="status.color" 
                [style.background]="status.color" 
                (colorPickerSelect)="onStatusChange(status)" 
                readonly/>
            </div>
            <mat-form-field appearance="fill" class="status-form-field">
                <mat-label>Nazwa statusu</mat-label>
                <input matInput [(ngModel)]="status.name" type="text" name="status" 
                       required autocomplete="off" (change)="onStatusChange(status)">
            </mat-form-field>
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" type="submit" 
            [disabled]="showLoading" (click)="onSubmit()">
        <span>Zapisz zmiany</span>
        <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>