<div class="container">
	<div class="login-title">Logowanie</div>
	<div class="form-container">
		<form [formGroup]="userFormGroup" (ngSubmit)="onLogin()">
			<mat-form-field appearance="fill">
				<mat-label>Nazwa użytkownika</mat-label>
				<input matInput formControlName="username" type="text" autocomplete="off">
				<mat-error *ngIf="userFormGroup.get('username')?.value.length > 45">
					Nazwa użytkownika jest za długa
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
					Nazwa użytkownika jest wymagana
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Hasło</mat-label>
				<input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" 
					   placeholder="Moje_haslo_123">
				<i class="material-icons hide-icon" matSuffix (click)="toggleHidePassword()">
					{{ hidePassword ? 'visibility' : 'visibility_off' }}
				</i>
				<mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
					Hasło jest wymagane
				</mat-error>
			</mat-form-field>
			<button mat-flat-button color="primary" type="submit" class="login-btn" 
					[disabled]="userFormGroup.invalid || showLoading">
				<span *ngIf="showLoading" class="loading-text">Logowanie...</span>
				<span *ngIf="!showLoading">Zaloguj</span>
				<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
			</button>
		</form>
		<div>
			Nie masz jeszcze konta? 
			<a class="register-btn" [routerLink]="'/register'"> Zarejestruj się!</a>
		</div>
		<div>
			<a class="reset-password-btn" [routerLink]="'/forgot-password'">Nie pamiętasz hasła?</a>
		</div>
	</div>
</div>