<div mat-dialog-title>
    <h1>Edytowanie pokazu</h1>
</div>
<mat-dialog-content>
    <form #showForm="ngForm" class="show-form">
        <mat-form-field appearance="fill">
            <mat-label>Nazwa pokazu</mat-label>
            <input matInput [(ngModel)]="name" type="text" 
                   name="name" required autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prowadzący</mat-label>
            <mat-select [(ngModel)]="professor" name="professor" required>
                <mat-option></mat-option>
                <mat-option [value]="option" *ngFor="let option of professors">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sala</mat-label>
            <mat-select [(ngModel)]="room" name="room" required>
                <mat-option></mat-option>
                <mat-option [value]="option" *ngFor="let option of rooms">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Opis/Uwagi</mat-label>
            <textarea matInput [(ngModel)]="description" name="desc" 
                      cdkTextareaAutosize #autosize="cdkTextareaAutosize" 
                      cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" type="submit" 
            [disabled]="showForm.invalid || showLoading" (click)="onSubmit()">
        <span *ngIf="showLoading">Ładowanie...</span>
        <span *ngIf="!showLoading">Zapisz zmiany</span>
		<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>
