<div class="main-content">
  <div class="header-with-photo">
    <div class="header-content">
      <h1>System do Zarządzania Wydarzeniami Wydziałowymi</h1>
      <ul class="header-list">
        <li>Przejrzysta lista wydarzeń wydziałowych</li>
        <li>Wygodna wyszukiwarka</li>
        <li>Łatwa rezerwacja pokazów</li>
        <li>Pełna kontrola dla adminstratorów systemu</li>
      </ul>
    </div>
    <div class="opacity"></div>
  </div>
  <div class="container">
      <div class="filter-container">
        <div class="filters">
          <mat-form-field appearance="fill" class="padding-right">
            <mat-label>Wyszukaj wydarzenie</mat-label>
            <input matInput type="search" autocomplete="off" (keyup)="applyFilter($event)">
          </mat-form-field>
          <mat-form-field appearance="fill" class="padding-right">
            <mat-label>Kategoria</mat-label>
            <mat-select [(ngModel)]="selectedCategory" name="category" (selectionChange)="onSelectionChange()">
              <mat-option [value]="null">Wszystkie</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="selectedStatus" name="status" (selectionChange)="onSelectionChange()">
              <mat-option [value]="null">Wszystkie</mat-option>
              <mat-option *ngFor="let status of statuses" [value]="status.id">
                <div class="select-status-option">
                  {{status?.name}}
                  <div class="select-status-color" [ngStyle]="{background: status.color}"></div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-stroked-button color="primary" *ngIf="isAdmin" (click)="openAddEventDialog()">
            Dodaj wydarzenie
          </button>
          <button mat-stroked-button color="primary" *ngIf="isAdmin" class="settings-btn" (click)="openEditCategoryDialog()">
            <mat-icon class="settings-icon">settings</mat-icon>Kategorie
          </button>
          <button mat-stroked-button color="primary" *ngIf="isAdmin" class="settings-btn" (click)="openEditStatusDialog()">
            <mat-icon class="settings-icon">settings</mat-icon>Statusy
          </button>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort matSortActive="startDate" matSortDirection="desc" class="mat-elevation-z8">
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 0; width: 11px;"></th>
          <td mat-cell *matCellDef="let element" matTooltip="{{ element?.status.name }}" 
              [matTooltipShowDelay]="250" matTooltipPosition="right" [ngStyle]="{background: element?.status.color}"></td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 15px;"> Nazwa Wydarzenia </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 15px;"> {{element?.title}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Kategoria </th>
            <td mat-cell *matCellDef="let element"> {{element?.category.name}} </td>
        </ng-container>
        <ng-container matColumnDef="building">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Budynek </th>
          <td mat-cell *matCellDef="let element"> {{element?.building}} </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Początek </th>
          <td mat-cell *matCellDef="let element"> {{element?.startDate | date: 'dd.MM.yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Koniec </th>
            <td mat-cell *matCellDef="let element"> {{element?.endDate | date: 'dd.MM.yyyy'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToEvent(row.id)"
          [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" 
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
        </tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>  
</div>
