:host {             /* Hack na wycentrowanie*/
    display: block;
    left: 0;
    width: 100%;   
    height: 100%;    
}

.main-content {
    padding-bottom: 20vh;
}

.header-with-photo {
    overflow: hidden;
    position: relative;
    padding: 30px;
    height: 200px;
    background-image: url('../../assets/uz-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}

.header-content {
    position: relative;
    z-index: 2;
}

.header-list {
    font-size: medium;
    line-height: 2em;
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.container {
    padding: 30px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    align-items: center;
}

.padding-right {
    padding-right: 20px;
}

.select-status-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-status-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.settings-btn {
    margin-left: 10px;
}

.settings-icon {
    font-size: 22px;
}

table {
    width: 100%;
}

.mat-row:nth-child(even){
    background-color: rgb(245, 245, 245);
}
        
.mat-row:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

.mat-row.hovered {
    background: #ddd;
    cursor: pointer;
}

.mat-header-cell {
    font-size: 15px;
    background-color: #3f51b5;
    color: #fff;
}