<div mat-dialog-title>
    <h1>Tworzenie nowego wydarzenia</h1>
</div>
<mat-dialog-content>
    <form #eventForm="ngForm" class="event-form">
        <mat-form-field appearance="fill">
          <mat-label>Nazwa wydarzenia</mat-label>
          <input matInput [(ngModel)]="title" type="text" name="title" required autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Opis wydarzenia</mat-label>
            <textarea matInput [(ngModel)]="description" name="desc" cdkTextareaAutosize #autosize="cdkTextareaAutosize" 
            cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Początek i koniec wydarzenia</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="startDate" name="dateFrom" [min]="today" readonly required>
                <input matEndDate [(ngModel)]="endDate" name="dateTo" [min]="today" readonly required>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Budynek</mat-label>
            <mat-select [(ngModel)]="building" name="building" required>
              <mat-option></mat-option>
              <mat-option [value]="option.building" *ngFor="let option of BuildingRoomList">{{ option.building }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Kategoria</mat-label>
            <mat-select [(ngModel)]="categoryId" name="category" required>
              <mat-option></mat-option>
              <mat-option [value]="option.id" *ngFor="let option of categories">{{ option.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="eventForm.invalid || showLoading" (click)="onSubmit()">
        <span *ngIf="showLoading" class="loading-text">Ładowanie...</span>
        <span *ngIf="!showLoading">Utwórz</span>
		<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>