mat-form-field {
    width: 100%;    
}

.warning-text {
    text-align: center;
    font-size: larger;
    color: #c64a02;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}