<div mat-dialog-title>
    <h1 class="event-title">{{ data.name }}</h1>
</div>
<mat-dialog-content>
    <h3>Wybierz jeden z dostępnych terminów aby zapisać się na pokaz.</h3>
    <div *ngIf="showDates.length == 0" class="warning-text">
        Brak dostepnych terminów
    </div>
    <mat-form-field appearance="fill" *ngIf="showDates.length > 0">
        <mat-label>Termin pokazu</mat-label>
        <mat-select [(value)]="selectedShowDateId">
            <mat-option></mat-option>
            <mat-option [value]="option.id" *ngFor="let option of showDates">
              {{ option.date | date: 'longDate' }}, {{ option.timeFrom }} - {{ option.timeTo }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" (click)="reserveShowDate()" 
            [disabled]="selectedShowDateId == null || showLoading">
        <span *ngIf="showLoading">Ładowanie...</span>
        <span *ngIf="!showLoading">Zapisz się</span>
		<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>
 