<div class="container">
	<div class="reset-password-title">Nie pamiętasz hasła?</div>
	<div class="reset-password-text">Wyślemy link do zmiany hasła na podany email</div>
	<div class="form-container">
		<form #forgotPasswordForm="ngForm" (ngSubmit)="onResetPassword()">
			<mat-form-field appearance="fill">
			  <mat-label>E-mail</mat-label>
			  <input matInput [(ngModel)]="email" type="email" name="email" 
			  		 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
			</mat-form-field>
			<button mat-flat-button color="primary" type="submit" class="reset-password-btn" 
					[disabled]="forgotPasswordForm.invalid || showLoading">
				<span *ngIf="showLoading" class="loading-text">Ładowanie...</span>
				<span *ngIf="!showLoading">Wyślij</span>
				<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
			</button>
		</form>
		<div>
			Nie masz jeszcze konta? 
			<a class="register-btn" [routerLink]="'/register'">Zarejestruj się!</a>
		</div>
	</div>
</div>