:host {             /* Hack na wycentrowanie*/
    display: block;
    left: 0;
    width: 100%;   
    height: 100%;    
}

.container {
    margin: 2em auto;
    padding-bottom: 20vh;
    max-width: 450px;
    min-width: fit-content;
    color: #222;
}

.reset-password-title {
    padding-top: 1em;
    padding-bottom: 2em;
    text-transform: uppercase;
    font-size: large;
    text-align: center;
}

.reset-password-text {
    color: #443fb5;
    margin-bottom: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.reset-password-btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.loading-text {
    color: #222;
}

.register-btn {
    color: darkslateblue;
    padding-left: 7px;
}

.register-btn:hover {
     color: rgb(37, 28, 100);  
}