.mat-dialog-title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.mat-dialog-title h1 { 
    margin-bottom: 0;
}

.mat-dialog-content {
    display: flex;
    padding: 8px 24px;
    overflow: hidden;
}

.profile-img {
    height: 170px;
    object-fit: cover;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
    font-size: medium;
    font-weight: 400;
    color: #111;
}

.info-title {
    color: #555;
    font-size: small;
    font-weight: 400;
}

.info-value {
    margin-top: -2px;
    margin-bottom: 12px;
    overflow-wrap: anywhere;
}

.mat-dialog-actions {
    justify-content: space-evenly;
}