<div mat-dialog-title>
    <h1>{{ data.username }}</h1>
</div>
<mat-dialog-content>
    <img src="{{ data.profileImageUrl }}" class="profile-img">
    <div class="info-container">
        <div class="info-title">E-mail</div>
        <div class="info-value">{{ data.email }}</div>
        <div class="info-title">Telefon</div>
        <div class="info-value" *ngIf="data.tel">+48 {{ data.tel }}</div>
        <div class="info-value" *ngIf="!data.tel">Brak</div>
        <div class="info-title">Wielkość grupy</div>
        <div class="info-value">{{ data.groupSize }}</div>
        <mat-checkbox
            [(ngModel)]="data.notLocked"
            [labelPosition]="'before'"
            [disabled]="showLoading"
            [color]="'primary'"
            (click)="toggleUsersLockedStatus()">
            Konto jest aktywne:
        </mat-checkbox>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close>Zakończ</button>
</mat-dialog-actions>