html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mysnackbar {
    background: #111111d9;
    color: #ddd;
}

.mysnackbar button {
    color: #2196F3;
}