.content {
    display: flex;
    flex-direction: column;
    padding-bottom: 25vh;
    margin: 3em auto 0;
    width: fit-content;
    max-width: 1100px;
}

.my-shows-title {
    text-align: center;
    color: #3f51b5;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.event-list-style {
    list-style: none;
}

.event-title-container {
    padding: 12px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 50px;
    background-color: #3f51b5;
}

.event-title {
    color: #eee;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.show-row {
    list-style: square;
}

.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
    margin-top: 10px;
}

.showName {
    margin-right: 30px;
}

.show-info {
    display: flex;
    align-items: center;
}

.showDate {
    margin-right: 10px;
}

.showTime {
    margin-right: 25px;
}