<div class="content">
    <h2 class="my-shows-title">Moje pokazy</h2>
    <div *ngIf="events?.length == 0">Nie masz jeszcze żadnych pokazów</div>
    <ul *ngFor="let event of events" class="event-list-style">
        <li>
            <div class="event-title-container">
                <a class="event-title" (click)="navigateToEvent(event.eventId)">{{ event.eventTitle }}</a>
            </div>
            <ul>
                <li *ngFor="let showDate of event.showDates" class="show-row">
                    <div class="show">
                        <div class="showName">{{ showDate.show.name }}:</div>
                        <div class="show-info">
                            <div class="showDate">{{ showDate.date | date: 'dd MMMM yyyy,' }}</div>
                            <div class="showTime">{{ showDate.timeFrom }} - {{ showDate.timeTo }}</div>
                            <div>sala {{ showDate.show.room }}/{{ showDate.show.event.building }}</div>
                            <button mat-icon-button color="warn" (click)="deregister(showDate.id)"
                                    matTooltip="Wypisz się" [matTooltipShowDelay]="250" matTooltipPosition="right">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>