<div mat-dialog-title>
    <img src="{{ profileImageUrl }}" class="profile-img">
    <div class="title-container">
        <h1>{{ data.username }}</h1>
        <button mat-raised-button color="primary" (click)="fileUpload.click()">
            <mat-icon class="camera-icon">photo_camera</mat-icon>
            Zmień zdjęcie
        </button>
    </div>
</div>
<mat-dialog-content>
    <form [formGroup]="userFormGroup" class="user-form">
        <mat-form-field appearance="fill">
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput formControlName="username" type="text" autocomplete="off">
            <mat-error *ngIf="userFormGroup.get('username')?.hasError('pattern') 
                              && !userFormGroup.get('username')?.hasError('required')">
                Nieprawidłowa nazwa użytkownika
            </mat-error>
            <mat-error *ngIf="userFormGroup.get('username')?.value.length < 3 
                              && !userFormGroup.get('username')?.hasError('required')">
                Nazwa użytkownika jest za krótka
            </mat-error>
            <mat-error *ngIf="userFormGroup.get('username')?.value.length > 45">
                Nazwa użytkownika jest za długa
            </mat-error>
            <mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
                Nazwa użytkownika jest wymagana
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" placeholder="moj@email.com">
            <mat-error *ngIf="userFormGroup.get('email')?.hasError('email') 
                              && !userFormGroup.get('email')?.hasError('required')">
                Proszę podać prawidłowy adres email
            </mat-error>
            <mat-error *ngIf="userFormGroup.get('email')?.hasError('required')">
                Email jest wymagany
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <span matPrefix>+48 &nbsp;</span>
            <input matInput formControlName="tel" type="tel" placeholder="333-222-123" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Liczba osób w grupie</mat-label>
            <input matInput formControlName="groupSize" type="number">
            <mat-error *ngIf="userFormGroup.get('groupSize')?.hasError('pattern') 
                              && !userFormGroup.get('groupSize')?.hasError('required')">
                Proszę podać liczbę całkowitą
            </mat-error>
            <mat-error *ngIf="userFormGroup.get('groupSize')?.hasError('required')">
                To pole jest wymagane
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" type="submit" 
            [disabled]="userFormGroup.invalid || showLoading" (click)="onSubmit()">
        <span *ngIf="showLoading">Przetwarzanie...</span>
        <span *ngIf="!showLoading">Zapisz zmiany</span>
        <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>

<input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event)" #fileUpload>