.mat-dialog-title {
    display: flex;
}

.profile-img {
    height: 100px;
    object-fit: cover;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
}

.camera-icon {
    padding-right: 3px;
}

.file-input {
    display: none;
}

.user-form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 10px;
}

.mat-dialog-actions {
    justify-content: space-evenly;
}