<div class="container">
	<div class="register-title">Rejestracja</div>
	<div class="form-container">
		<form [formGroup]="userFormGroup" (ngSubmit)="onRegister()">
			<mat-form-field appearance="fill">
				<mat-label>Nazwa użytkownika</mat-label>
				<input matInput formControlName="username" type="text" autocomplete="off">
				<mat-error *ngIf="userFormGroup.get('username')?.hasError('pattern') 
								  && !userFormGroup.get('username')?.hasError('required')">
					Nieprawidłowa nazwa użytkownika
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('username')?.value.length < 3 
							      && !userFormGroup.get('username')?.hasError('required')">
					Nazwa użytkownika jest za krótka
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('username')?.value.length > 45">
					Nazwa użytkownika jest za długa
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
					Nazwa użytkownika jest wymagana
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>E-mail</mat-label>
				<input matInput formControlName="email" type="email" placeholder="Ex. moj@email.com">
				<mat-error *ngIf="userFormGroup.get('email')?.hasError('email') 
								  && !userFormGroup.get('email')?.hasError('required')">
					Proszę podać prawidłowy adres email
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('email')?.hasError('required')">
					Email jest wymagany
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Hasło</mat-label>
				<input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" 
					   placeholder="Moje_haslo_123">
				<i class="material-icons hide-icon" matSuffix (click)="toggleHidePassword()">
					{{ hidePassword ? 'visibility' : 'visibility_off' }}
				</i>
				<mat-error *ngIf="userFormGroup.get('password')?.hasError('pattern') 
								  && !userFormGroup.get('password')?.hasError('required')">
					Hasło powinno składać się z 8-12 znaków: liter małych, dużych i cyfr
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
					Hasło jest wymagane
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Telefon</mat-label>
				<span matPrefix>+48 &nbsp;</span>
				<input matInput formControlName="tel" type="tel" placeholder="333-222-123" autocomplete="off">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Liczba osób w grupie</mat-label>
				<input matInput formControlName="groupSize" type="number">
				<mat-error *ngIf="userFormGroup.get('groupSize')?.hasError('pattern') 
								  && !userFormGroup.get('groupSize')?.hasError('required')">
					Proszę podać liczbę całkowitą
				</mat-error>
				<mat-error *ngIf="userFormGroup.get('groupSize')?.hasError('required')">
					To pole jest wymagane
				</mat-error>
			</mat-form-field>
			<button mat-flat-button color="primary" type="submit" class="register-btn" 
					[disabled]="userFormGroup.invalid || showLoading">
				<span *ngIf="showLoading" class="loading-text">Ładowanie...</span>
				<span *ngIf="!showLoading">Zarejestruj się</span>
				<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
			</button>
		</form>
		<div>
			Posiadasz już konto? 
			<a class="login-btn" [routerLink]="'/login'"> Zaloguj się!</a>
		</div>
	</div>
</div>
