:host {             /* Hack na wycentrowanie*/
    display: block;
    left: 0;
    width: 100%;   
    height: 100%;    
}

.container {
    margin: 2em auto;
    padding-bottom: 20vh;
    max-width: 450px;
    min-width: fit-content;
    color: #222;
}

.register-title {
    padding: 1em;
    text-transform: uppercase;
    font-size: large;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 10px;
}

.hide-icon {
    cursor: pointer;
    color: #3f51b5;
}

.register-btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.loading-text {
    color: #222;
}

.login-btn {
    color: darkslateblue;
    padding-left: 7px;
}
