.mat-dialog-content {
    max-height: 280px;
    margin-bottom: 20px;
}

.category-list {
    padding: 0 10px;
}

.category-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

.category-form-field {
    width: 100%;
}

.delete-btn {
    margin-left: 10px;
    bottom: 8px;
}

.add-category-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 12px;
}

.add-category-btn {
    margin-left: 15px;
    bottom: 6px;
    background: #1a9f1ae3;
    color: white;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}