<div mat-dialog-title>
    <h1>Ustawienia kategorii wydarzeń</h1>
</div>
<mat-dialog-content>
    <ul class="category-list">
        <li *ngFor="let category of categories" class="category-line">
            <mat-form-field appearance="fill" class="category-form-field">
                <mat-label>Nazwa kategorii</mat-label>
                <input matInput [(ngModel)]="category.name" type="text" name="category" 
                       autocomplete="off" (change)="onCategoryChange(category)">
            </mat-form-field>
            <button mat-icon-button color="warn" class="delete-btn" (click)="onCategoryDelete(category)">
                <mat-icon>delete</mat-icon>
            </button>
        </li>
    </ul>
</mat-dialog-content>
<div class="add-category-container">
    <form #newCategoryForm="ngForm" class="category-form-field">
        <mat-form-field appearance="fill" class="category-form-field">
            <mat-label>Nazwa nowej kategorii</mat-label>
            <input matInput [(ngModel)]="newCategory" type="text" 
                   name="newCategory" required autocomplete="off">
        </mat-form-field>
    </form>
    <button mat-flat-button class="add-category-btn" (click)="onCategoryAdd()"
            [disabled]="newCategoryForm.invalid || showLoading">
		<span>Dodaj</span>
		<mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
    </button>
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Wstecz</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="showLoading2" (click)="onSubmit()">
        <span *ngIf="showLoading2" class="loading-text">Ładowanie...</span>
        <span *ngIf="!showLoading2">Zapisz zmiany</span>
		<mat-progress-bar *ngIf="showLoading2" mode="indeterminate"></mat-progress-bar>
    </button>
</mat-dialog-actions>